@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@400;700&display=swap");

:root {
  --border-color: #e3e5e4;
  --background-color: #fff;
  --background-secondary-color: #c3c7ca;
  --draggable-color: #eaeaea;
  --text-color: #34444f;
  --right-color: #3ae374;
  --wrong-color: #ff3838;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Blinker", sans-serif;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
}

.huzhato-lista {
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 0;
  list-style-type: none;
}

.huzhato-lista li {
  background-color: var(--background-color);
  display: flex;
  flex: 1;
}

.huzhato-lista li:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}

.huzhato-lista .number {
  background-color: var(--background-secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  width: 3.75rem;
  height: 3.75rem;
}

.huzhato-lista li.over .draggable {
  background-color: var(--draggable-color);
}

.huzhato-lista .szemely-neve {
  margin: 0 1.25rem 0 0;
}

.huzhato-lista li.right .szemely-neve {
  color: var(--right-color);
}

.huzhato-lista li.wrong .szemely-neve {
  color: var(--wrong-color);
}

.draggable {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  flex: 1;
}

.csekkol-btn {
  background-color: var(--background-secondary-color);
  border: none;
  color: var(--text-color);
  font-size: 1rem;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
}

.csekkol-btn:active {
  transform: scale(0.98);
}

.csekkol-btn:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

.csekkol-btn:focus {
  outline: none;
}
