@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
.preloader {
  width: 100%;
  height: 100vh;
  background: #3498db;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  position: relative;
}
.preloader__status {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.preloader__status-text {
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}
.preloader__status-loader {
  width: 100%;
  height: 3px;
}
.preloader__status-bar {
  background: white;
  height: 100%;
}
.frontpage {
  height: 100vh;
  background: #34495e;
}
.frontpage__title {
  color: white;
}