@model  WebShop_2024_A.Models.CartModel
@{ decimal price, sum;
	int quantity;
}
@section style{
	<link href="~/css/cart.css" rel="stylesheet">
}
<div class="container px-3 my-5 clearfix">
	<!-- Shopping cart table -->
	<div class="card">
		<div class="card-header">
			<h2>Shopping Cart</h2>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered m-0">
					<thead>
						<tr>
							<!-- Set columns width -->
							<th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
							<th class="text-right py-3 px-4" style="width: 100px;">Price</th>
							<th class="text-center py-3 px-4">Quantity</th>
							<th class="text-right py-3 px-4" style="width: 100px;">Total</th>
							<th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var pId in Model.Cart.Keys)
						{
							price = (decimal)Model.Products[pId].UnitPrice;
							quantity = Model.Cart[pId];
							sum = price * quantity;

							<tr id="tableRow_@pId">
								<td class="p-4">
									<div class="media align-items-center">
										<img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="d-block ui-w-40 ui-bordered mr-4" alt="">
										<div class="media-body">
											<a href="#" class="d-block text-dark">@Model.Products[pId].ProductName</a>
										</div>
									</div>
								</td>
								<td class="text-right font-weight-semibold align-middle p-4">$@string.Format($"{price:N}")</td>
								<td class="align-middle">
									<div style="float:left;">
										@*<a href="/Shop/CartDec/@pId" class="btn btn-danger">-</a>*@
										<div id="removeBtn_@pId" class="removeBtn btn btn-danger">-</div>
									</div>
									<div style="float:left;">
										<input id="qty_@pId" type="text" class="form-control text-center" value="@string.Format($"{quantity}")">
									</div>
									<div style="float:left;">
										@*<a href="/Shop/CartInc/@pId" class="btn btn-primary">+</a>*@
										<div id="addBtn_@pId" class="addBtn btn btn-primary">+</div>
									</div>
								</td>
								<td id="sum_@pId" class="text-right font-weight-semibold align-middle p-4">$@string.Format($"{sum:N}")</td>
								<td class="text-center align-middle px-0">
									@*<a href="/Shop/RemoveFromCart/@pId" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">X</a>*@
									<div id="delBtn_@pId" class="delBtn btn btn-danger">X</div>
								</td>
							</tr>
						}

					</tbody>
				</table>
			</div>
			<!-- / Shopping cart table -->

			<div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
				<div class="mt-4">
					<label class="text-muted font-weight-normal">Promocode</label>
					<input type="text" placeholder="ABC" class="form-control">
				</div>
				<div class="d-flex">
					<div class="text-right mt-4 mr-5">
						<label class="text-muted font-weight-normal m-0">Discount</label>
						<div class="text-large"><strong>$0</strong></div>
					</div>
					<div class="text-right mt-4">
						<label class="text-muted font-weight-normal m-0">Total price</label>
						<div class="text-large"><strong id="sumPrice">$@string.Format($"{Model.Sum:N}")</strong></div>
					</div>
				</div>
			</div>

			<div class="float-right">
				<button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3">Back to shopping</button>
				<button type="button" class="btn btn-lg btn-primary mt-2">Checkout</button>
			</div>

		</div>
	</div>
</div>

@section script{
	<script src="~/Script/Cart.js"></script>
}