

.sidenav{
    display: block;
    margin-right: 5px;
    position: absolute;
    height: 90%;
    width: 280px;
}

i{
    font-size: medium;
    padding: 10px;
}

.content{
    margin-left: 300px;
}

.content .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.content .insights li{
    padding: 24px;
    background: white;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.925);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

.content .insights li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: black;
}


.content .staticdiv{
    width: 60%;
    padding: 25px;
    grid-gap: 24px;
    margin-top: 36px;
    border-radius: 20px;
    background-color: white;
    box-shadow:0 0 14px rgba(0, 0, 0, 0.658);
    margin-left: 29px;
}

.content .bottom-data .static{
    margin: 5px;
    border: 2px solid rgba(128, 128, 128, 0.664);
    border-radius: 25px;
    height: 450px;
}

.content .bottom-data .notifs{
    width: 35%;
    padding: 25px;
    grid-gap: 24px;
    margin-top: 36px;
    border-radius: 20px;
    background-color: white;
    box-shadow:0 0 14px rgba(0, 0, 0, 0.658);
    margin-left: 29px;
}

.content .bottom-data .notifications{
    border: 2px solid rgba(128, 128, 128, 0.664);
    height: 90%;
    border-radius: 25px;
}

.content .bottom-data .notif{
    margin: 10px;
    border: 2px solid black;
    border-radius: 15px;
}

.content .bottom-data .noti-content{
    margin: 5px;
}

.icon{
    float: right;
}


.faicon{
    border-right: 2px solid rgba(128, 128, 128, 0.61);
}

a{
    border-radius: 10px !important;
    padding: 3px !important;
}


/* New Post */

.newpost{
    padding: 25px;
    grid-gap: 24px;
    margin-top: 36px;
    border-radius: 20px;
    background-color: white;
    box-shadow:0 0 14px rgba(0, 0, 0, 0.658);
    margin-left: 29px;
}

.btn-newpost{
    width: 50%;
    margin-top: 25px;
    background-color: rgba(21, 255, 0, 0.603);
}

.btn-newpost:hover{
    background-color: rgba(12, 143, 0, 0.623);
}

/* Messages */
.messages{
    border: 2px solid rgba(128, 128, 128, 0.664);
    border-radius: 25px;
}