/*********
Színek: voros: #b80d13; vilagoskek: #cdd6e2; arany: #d6b279;
***********/

:root{
	--voros: #b80d13;
	--vilagoskek: #cdd6e2;
	--arany: #d6b279;
	
}
*{
	font-family:'Poppins Regular','Arial';
}
span.datum{
	color:var(--voros);
	font-weight:bold;
}
img#schumacher{
	width:200px;
	border:2px solid var(--voros);
	margin-bottom:20px;
	margin-top:20px;
	margin-left:480px !important;
	margin-right:520px !important;
	border-radius:20px;
	
}
body{
	max-width:1200px;
	margin: 0 auto !important;
	background-color:var(--vilagoskek) !important;
}
h1,h2,h3,span{
	color:var(--voros) !important;
	font-family:'Poppins Bold','Arial';
	
	
}
h1,h2{
	text-align:center;
}


.container, footer, header {
    padding: 20px;
	background-color:var(--arany);
    
}
header {
    border:none;
	
	border-bottom: 2px dashed rgb(0, 0, 0);
	
}

p {
    line-height: 150%;
    text-indent: 30px;
	text-align:justify;
}

section{
    margin: 10px;
}

table {
    width: 100%;
}

tr:nth-child(odd) {
    background-color: var(--vilagoskek);
}

th {
    width: 50%;
	color:var(--voros);
	text-align:center !important;
}

td, th {
    padding: 10px;
    border: 2px solid var(--vilagoskek) !important;
	color:var(--voros);
}

img {
    margin-bottom: 15px;
    width: 100%;
}

footer {
    text-align: center;
    border: 2px solid var(--vilagoskek);
}

.nav-link {
    color: var(--d6b279);
}

.nav-link:hover {
    color: var(--b80d13);
}

.bg-menu {
    background-color: var(--voros);
	border-radius:20px;
}

img.schumacher {
    border-radius: 20px;
}



