:root{
	--lila: rgb(31, 15, 71);
}

*{
	margin: 0;
	padding: 0;
	font-family: 'Nunito Sans', sans-serif;
	box-sizing: border-box;
}

body{
	background: black;
	padding: 10px;
	display: flex;
}

/* SIDE MENU */

.side-menu{
	margin-right: 10px;
}

/* MENU */

.menu{
	background: rgb(18, 18, 18);
	display: block;
	width: 80px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.menu ul{
	list-style-type: none;
}

.menu ul li{
	text-align: center;
	padding: 10px;
}

.menu ul li a{
	font-size: 30px;
	color: white;
}

/* PLAYLISTS */

.playlists{
	background: rgb(18, 18, 18);
	display: block;
	width: 80px;
	border-radius: 10px;
}

.playlists ul{
	list-style-type: none;
}

.playlists ul li{
	text-align: center;
	padding: 10px;
}

.playlists ul li a{
	font-size: 30px;
	color: white;
}


/* CONTENT */

.content-box{
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
}

.content-header{
	padding: 20px 10px 20px 20px;
	background-image: linear-gradient(var(--lila), rgb(18, 18, 18));
}

.content-header h1 a{
	float: right;
	margin-right: 20px;
}

.content-box h1{
	color: white;
	margin-bottom: 20px;
}

.user-playlists{
	display: flex;
	margin-bottom: 20px;
}

.playlist{
	overflow: hidden;
	width: 33.33%;
	margin-right: 10px;
	display: felx;
	border-radius: 10px;
	cursor: pointer;
}

.playlist img{
	width: 100px;
	height: 100px;
	float: left;
}

.playlist .playlist-name{
	background:rgb(40, 40, 40);
	width: 100%;
	height: 100%;
	padding: 35px;
}

.playlist-name a{
	color: white;
	margin-left: 20px;
	font-size: 20px;
	font-weight: bold;
}

/* NEWS */

.news{
	background: rgb(18, 18, 18);
	padding: 20px;
	overflow: hidden;
}

.new-song{
	width: 200px;
	overflow: hidden;
	padding: 10px;
	background:rgb(40, 40, 40);
	border-radius: 10px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.new-song img{
	width: 100%;
}

.new-song p.name{
	color: white;
	font-size: 20px;
}

.new-song p.artist{
	color: #999;
}

.musics p{
	font-size: 20px;
	color: white;
	margin-bottom: 10px;
}

.musics audio{
	margin-bottom: 20px;
}