@keyframes elso{
	from{
		background: red;
		color: black;
		padding: 0px;
		opacity: 0.5;
	}
	to{
		background: blue;
		color: white;
		padding: 10px;
		opacity: 1;
	}
}

@keyframes kocka{
	0%{
		margin-top: 0;
		margin-left: 0;
	}
	25%{
		margin-top: 100px;
		margin-left: 0;
		rotate: 45deg;
	}
	50%{
		margin-top: 100px;
		margin-left: 100px;
		rotate: 90deg;
	}
	75%{
		margin-top: 0;
		margin-left: 100px;
		rotate: 135deg;
	}
	100%{
		margin-top: 0;
		margin-left: 0;
		rotate: 180deg;
	}
}

@keyframes szoveg{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(-15deg);
	}
}

@keyframes menu-load{
	0%{
		margin-left: 10px;
		opacity: 0;
	}
	100%{
		margin-left: 0;
		opacity: 1;
	}
}

@keyframes name-load{
	0%{
		transform: rotate(0deg);
		opacity: 0;
	}
	100%{
		transform: rotate(-7deg);
		opacity: 1;
	}
}