*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

nav{
	background: #222;
	overflow: hidden;
}

ul{
	list-style-type: none;
	max-width: 700px;
	margin: 0 auto;
}

nav ul li a{
	float: right;
	color: white;
	text-decoration: none;
	padding: 13px 12px;
	font-size: 20px;
	animation-name: menu-load;
	animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
}

#name{
	float: left;
	animation-name: name-load;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

#menu2{
	animation-delay: 0.2s;
}

#menu3{
	animation-delay: 0.4s;
}