:root{
	--pink :#D60265;
}

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

body{
	background: var(--pink);
	overflow: hidden;
}

.address{
	padding: 20px;
	padding-bottom: 0;
}

.address a{
	color: white;
	font-weight: bold;
	font-size: 25px;
}

.address a i{
	margin-right: 5px;
}

.searchbar{
	padding: 20px;
}

input{
	font-size: 20px;
	padding: 10px;
	border-radius: 50px;
	border: none;
	box-shadow: 0px 0px 10px #555;
	width: 100%;
}

.restaurants{
	background: white;
	padding: 30px;
	overflow: hidden;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	/* box-shadow: 0px 0px 10px #555; */
	overflow-y: scroll;
	height: calc(100vh - 205px);
}

.restaurants::-webkit-scrollbar {
  display: none;
}

.card{
	overflow: hidden;
	margin-bottom: 20px;
}

.card img{
	width: 100%;
	border-radius: 20px;
	margin-bottom: 5px;
}

.card .name{
	display: block;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 5px;
}

.card .r-address{
	color: #555;
	display: block;
	font-size: 18px;
}

.buttons{
	overflow: hidden;
	background: white;
	border-top: 2px solid #999;
}

.buttons a{
	color: #999;
	font-size: 30px;
	display: inline-block;
	width: 50%;
	float: left;
	text-align: center;
	margin: 20px 0;
}